@import "tailwindcss";

*,
*::before,
*::after{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
min-height:100vh;
overflow-x:hidden;
font-family:Inter,"Segoe UI",sans-serif;
background:#05070d;
color:#fff;
}

button,
input,
textarea,
select{
font:inherit;
}

a{
text-decoration:none;
color:inherit;
}

img{
max-width:100%;
display:block;
}

#root{
min-height:100vh;
}